body {
  background: #ece7e7;
  margin: 0;
}
li {
  list-style: none;
}
ul {
  padding: 2px 13px;
  margin: 0;
}
a {
  text-decoration: none;
}
p {
  margin: 0;
}
h3 {
  margin: 0;
}
// home page hedaer
.header {
  border-bottom: 1px solid grey;
  height: 60px;
  display: flex;
  background: black;
  color: white;
  padding: 0 5px;
  position: relative;

  @media screen and (max-width: 480px ){
    .header-logo {
      height: 40px;
      margin: auto 0;

      img {
        width: 40px;
      }
    }
    .header-text {
      position: absolute;
      top: 50%;  
      left: 50%;
      transform: translate(-50%, -50%);

      h1 {
        margin: 0;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 30px;
      }
    }
  }

  @media screen and (max-width: 860px ){
    .header-logo {
      height: 40px;
      margin: auto 0;

      img {
        width: 40px;
      }
    }
    .header-text {
      position: absolute;
      top: 50%;  
      left: 50%;
      transform: translate(-50%, -50%);
      a {
        &:link {
          color: white;
        }
        &:visited {
          color: white;
        }
        h1 {
          margin: 0;
          font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
          font-size: 30px;
        }
      }
    }
  }
}
//home page projects
.projects{

  @media screen and (max-width: 480px ){
    .acardeon {

      .acardeon__title {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid grey;
        padding: 0 10px;

        img {
          margin: 27px 15px;
          margin-bottom: 3px;
          width: 30px;
          height: 30px;

        }
        h1 {
          margin-bottom: 3px;
        }
        .down {
          transition: all 0.4s ease;
        }
        .up {
          transform: rotateZ(-180deg);
          transition: all 0.4s ease;
        }
      }
      .acardeon__description {

        li {
          margin: 10px 0;
          a {
            font-size: 20px;

            &:visited {
              color: black;
            }
            &:link {
              color: black;
            }
          }
          img {
            border-radius: 30px;
            width: 35px;
            height: 35px;
          }
        }
        &.show {
          max-height: 10em;
          overflow: hidden;
          -webkit-transition: max-height .50s;
          -o-transition: max-height .50s;
          transition: max-height .50s;
        }
        &.hidden {
          max-height: 0;
          overflow: hidden;
          -webkit-transition: max-height .35s;
          -o-transition: max-height .35s;
          transition: max-height .35s;
        }
      }
      
    }
  }

  @media screen and (max-width: 860px ){
    .acardeon {

      .acardeon__title {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid grey;
        padding: 0 10px;

        img {
          margin: 27px 15px;
          margin-bottom: 3px;
          width: 30px;
          height: 30px;

        }
        h1 {
          margin-bottom: 3px;
        }
        .down {
          transition: all 0.4s ease;
        }
        .up {
          transform: rotateZ(-180deg);
          transition: all 0.4s ease;
        }
      }
      .acardeon__description {

        li {
          display: flex;
          margin: 10px 0;
          a {
            font-size: 20px;
            margin: auto 10px;

            &:visited {
              color: black;
            }
            &:link {
              color: black;
            }
          }
          img {
            border-radius: 30px;
            width: 35px;
            height: 35px;
          }
        }
        &.show {
          max-height: 100em;
          overflow: hidden;
          -webkit-transition: max-height .50s;
          -o-transition: max-height .50s;
          transition: max-height .50s;
        }
        &.hidden {
          max-height: 0;
          overflow: hidden;
          -webkit-transition: max-height .35s;
          -o-transition: max-height .35s;
          transition: max-height .35s;
        }
      }
      
    }
  }
}

.users {

  @media screen and (max-width: 480px ){
    .acardeon {

      .acardeon__title {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid grey;
        padding: 0 10px;

        img {
          margin: 27px 15px;
          margin-bottom: 3px;
          width: 30px;
          height: 30px;

        }
        h1 {
          margin-bottom: 3px;
        }
        .down {
          transition: all 0.4s ease;
        }
        .up {
          transform: rotateZ(-180deg);
          transition: all 0.4s ease;
        }
      }
      .acardeon__description {

        li {
          display: flex;
          margin: 10px 0;
          position: relative;
          a {
            font-size: 20px;
            margin: auto 10px;

            &:visited {
              color: black;
            }
            &:link {
              color: black;
            }
          }
          img {
            border-radius: 30px;
            width: 35px;
            height: 35px;
          }
          p {
            margin: auto 0;
            position: absolute;
            right: 0;
            top: 10px;
          }
        }
        &.show {
          max-height: 10em;
          overflow: hidden;
          -webkit-transition: max-height .50s;
          -o-transition: max-height .50s;
          transition: max-height .50s;
        }
        &.hidden {
          max-height: 0;
          overflow: hidden;
          -webkit-transition: max-height .35s;
          -o-transition: max-height .35s;
          transition: max-height .35s;
        }
      }
      
    }
  }

  @media screen and (max-width: 860px ){
    .acardeon {

      .acardeon__title {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid grey;
        padding: 0 10px;

        img {
          margin: 27px 15px;
          margin-bottom: 3px;
          width: 30px;
          height: 30px;

        }
        h1 {
          margin-bottom: 3px;
        }
        .down {
          transition: all 0.4s ease;
        }
        .up {
          transform: rotateZ(-180deg);
          transition: all 0.4s ease;
        }
      }
      .acardeon__description {
        li {
          display: flex;
          margin: 10px 0;
          position: relative;
          a {
            font-size: 20px;
            margin: auto 10px;
            &:visited {
              color: black;
            }
            &:link {
              color: black;
            }
          }
          img {
            border-radius: 30px;
            width: 35px;
            height: 35px;
          }
          p {
            margin: auto 0;
            position: absolute;
            right: 0;
            top: 10px;
          }
        }
        &.show {
          max-height: 100em;
          overflow: hidden;
          -webkit-transition: max-height .50s;
          -o-transition: max-height .50s;
          transition: max-height .50s;
        }
        &.hidden {
          max-height: 0;
          overflow: hidden;
          -webkit-transition: max-height .35s;
          -o-transition: max-height .35s;
          transition: max-height .35s;
        }
      }
      
    }
  }
}

// projects header
.header-projects {
  border-bottom: 1px solid grey;
  height: 60px;
  display: flex;
  background: black;
  color: white;
  padding: 0 5px;
  position: relative;

  @media screen and (max-width: 480px ){
    .header-logo {
      height: 40px;
      margin: auto 0;

      img {
        width: 40px;
      }
    }
    .header-text {
      display: flex;
      justify-content: space-between;

      h1 {
        margin: 0;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 30px;
        color: orange;
      }
      img {
        width: 24px;
        height: 22px;
        margin: auto 5px;
      }
      h2 {
        margin: 0;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 25px;
        padding-top: 3px;

      }
    }
  }

  @media screen and (max-width: 860px ){
    .header-logo {
      height: 40px;
      margin: auto 0;

      img {
        width: 40px;
      }
    }
    .header-text {
      display: flex;
      position: absolute;
      top: 50%;  
      left: 50%;
      transform: translate(-50%, -50%);

      h1 {
        margin: 0;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 30px;
        color: orange;
      }
      img {
        width: 24px;
        height: 22px;
        margin: auto 5px;
      }
      h2 {
        margin: 0;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 25px;
        padding-top: 3px;

      }
      a {
        &:link {
          color: white;
        }
        &:visited {
          color: white;
        }
        h1 {
          margin: 0;
          font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
          font-size: 30px;
        }
      }
    }
  }
}

// date range
.date-range {
  padding: 10px 16px 10px 10px;
  text-align: right;
}
// usres-card 
.users-card {
  border: 1px solid black;
  width: 380px;
  margin: 0 auto;
  padding: 10px;
  min-height: 400px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@media screen and (max-width: 860px ){
  .users-card {
    border: 1px solid grey;
    border-radius: 3px;
    width: 90%;
    margin: 10px auto;
    padding: 10px;
    min-height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    .user-card__content {
      max-height: 300px;
      padding: 5px;
      margin: 10px auto;
      overflow-y: scroll;
      border: 1px solid grey;
      border-radius: 3px;
      &::-webkit-scrollbar
      {
        width: 3px;
        background-color: grey;
      }
      &::-webkit-scrollbar-thumb
      {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: #555;
      }
      .stendup {
        padding: 5px;
        p {
          padding: 8px;
        }
      }

    }
    .users-card__header {
      display: flex;
      position: relative;

      img {
        width: 35px;
        height: 35px;
      }
    }
    .users-card__header-desc {
      display: flex;
      margin: 0 10px;

      .right {
        text-align: right;
        right: 0;
        position: absolute;
      }
    }
  }
}

@media screen and (max-width: 480px ){
  .users-card {
    border: 1px solid grey;
    border-radius: 3px;
    margin: 10px auto;
    padding: 10px;
    min-height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    .user-card__content {
      max-height: 300px;
      padding: 5px;
      margin: 10px auto;
      overflow-y: scroll;
      border: 1px solid grey;
      border-radius: 3px;
      &::-webkit-scrollbar
      {
        width: 3px;
        background-color: grey;
      }
      &::-webkit-scrollbar-thumb
      {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: #555;
      }
      .stendup {
        padding: 5px;
        p {
          padding: 8px;
        }
      }

    }
    .users-card__header {
      display: flex;
      position: relative;

      img {
        width: 35px;
        height: 35px;
      }
    }
    .users-card__header-desc {
      display: flex;
      margin: 0 10px;

      .right {
        text-align: right;
        right: 0;
        position: absolute;
      }
    }
  }
}